<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation2.ejs') %>
        <div class="bg"></div>
        <main>
            <div class="cart mt-5">
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item row rounded-lg shadow">
                                <div class="col-4 text-center">
                                    <img src="/<%= p.productId.imageUrl %>" alt="<%= p.productId.title %>" width="150" height="150" />
                                </div>
                                <div class="col-8">
                                    <h3><%= p.productId.title %> - <small>(<%= p.productId.category %>)</small></h3>
                                    <h5>Price - <%= p.productId.price %> INR</h5>
                                    <h5>Owner - <%= p.productId.firstname %></h5>
                                        <form action="/cart-delete-item" method="POST">
                                            <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                </div>  
                        </li>
                    <% }) %>
                </ul>
                
                
            <% } else { %>
                <h1 class="text-center text-light">No Products in Cart!</h1>
            <% } %>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>